@charset "UTF-8";

/* 回答はここに書いてね */
.clearfix:after {
  display: block;
  content: "";
  clear: both;
}

.float-block .f-cell{
  width: 225px;
  box-sizing: border-box;
  float: left;
  margin-left: 50px;
  font-size: 16px;
}

.float-block .f-cell:first-child {
  margin-left: 0;
}



.t-table .t-block{
  width: 225px;
}

.t-table .t-inner{
  display: table;
}

.t-table .t-box{
  display: table-cell;
  padding-left: 50px;
  vertical-align: middle;
}

.t-table .t-box:first-child{
  padding-left: 0;
}

.t-table .t-text{
  font-size: 16px;
}




.i-block .i-inner{
  font-size: 0;
}

.i-block .i-box{
  width: 225px;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  margin-left: 50px;
}

.i-block .i-box:first-child{
  margin-left: 0;
}




.f-flex .f-box{
  width: 225px;
  font-size: 16px;
  vertical-align: middle;
  box-sizing: border-box;
}

.f-flex .f-inner{
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}



.m-margin .m-box{
  vertical-align: top;
}

.m-margin .m-inner{
  font-size: 0;
}

.m-margin .is-stable{
  display: inline-block;
  width: 300px;
}

.m-margin .m-text{
  font-size: 16px;
}

.m-margin .is-flexible{
  display: inline-block;
  width: 100%;
  margin-left: -300px;
  padding-left: 350px;
  box-sizing: border-box;
}