@charset "UTF-8";

/* 回答はここに書いてね */

.min-box1{
  background-color: #e6f2ff;
  width: 90px;
  margin: auto;
  padding: 10px;
  text-align: center;
}

.min-box2{
  background-color: #e6f2ff;
  display: block;
  padding: 10px;
  margin: auto;
  width: 90px;
  text-align: center;
}


.block1{
  width: 100%;
  text-align: center;
}

.min-block1{
  display: inline-block;
  background-color: #fff;
  padding: 10px;
  margin: 25%;
}

.block2{
  display: flex;
  justify-content: center;
  align-items: center;
}

.min-block2{
  background-color: #fff;
  padding: 10px;
}

.block3{
  position: relative;
}

.min-block3{
  position: absolute;
  height: 30px;
  width: 110px;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}

.block4{
  position: relative;
  height: 200px;
  width: 300px;
}

.min-block4{
  position: absolute;
  padding: 10px;
  top: 40%;
  transform: translate( 100px);
}
/* 回答はここに書いてね */
