@charset "UTF-8";

/* 回答はここに書いてね */

.left-parent{
  text-align: center;
}

.left-child{
  display: inline-block;
  background-color: #e6f2ff;
  padding: 10px 0;
  width: 90px;
}

.right-parent{
  text-align: center;
}

.right-child{
  background-color: #e6f2ff;
  padding: 10px 0;
  width: 90px;
  margin: 0 auto;
}

.t-block{
  display: table;
}

.t-cell{
  display: table-cell;
  background-color: #ecf1f2;
  text-align: center;
  vertical-align: middle;
}

.t-text{
  display: inline-block;
  padding: 10px;
  background-color: #fff;
}

.f-block{
  display: flex;
  align-items: center;
  justify-content: center;
}

.f-cell{
  padding: 10px;
  background-color: #fff;
}

.stable-inner{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;

}

.p-stable{
  position: relative;
}




.p-position .p-box{
  position: relative;
}

.p-box .p-inner{
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%,-50%);
}
/* 回答はここに書いてね */
